.formcss-custom {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.card-custom{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to left, #ffffff, #dcdcdc);
}

